
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@400;700&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
}
html{
  font-size: 16px;
}
body {
  margin: 0;
  box-sizing: border-box; 
  font-family: "Roboto";
  background: #201D27;
} 
.container{
  max-width: 1536px;
  margin: auto;
  min-height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  height: 5.9375rem;
  width: 100%;  
  background: #000;  
}
.header__container{ 
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1536px;
  margin: auto;
}

.header__logo {

}

.header__nav {
  display: none; 
  color: #fff; 
  gap: 2.5rem;

}

.header__link {
  margin-left: 1rem;
  text-decoration: none;
  color: inherit;
}



@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .header{
    height: 5.875rem;
  }
  .header__logo{
   
  }
}

@media only screen and (min-width: 1200px) {
  .header{
    height: 7.06rem; 
  }
  .header__container{
    justify-content: space-between;

  }
  .header__nav {
    display: block;
    padding-right: 3.38rem;
  }
  .header__logo{
    padding-left: 1.81rem; 
  }
  .header__wrapper{
    padding-top: 2.06rem;
    padding-bottom: 1.98rem;
  }
}
